/.bashrc
/.cache
/.claude
/.claude.json
/.config
/.gitconfig
/.idea
/.ipython
/.kaggle
/.lightning_studio
/.lightningignore
/.npm
/.nv
/.vimrc
/.vscode
/.zcompdump
/.zsh_history
/.zshrc
/.condarc
/.docker
/.hushlogin
/.cursor-server
/.local
/.jupyter
/.nvm
/.profile
/.oh-my-zsh
/.ssh
/.sudo_as_admin_successful
/.vscode-server
/.windsurf-server